<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>00f45ce816c49b5abef44545558d3088</string>
	<key>app_id</key>
	<string>d2993de2</string>
	<key>app_url</key>
	<string>https://api.edamam.com/api/nutrition-details</string>
</dict>
</plist>
